alembic==1.17.2
blinker==1.9.0
click==8.3.1
Flask==3.1.2
Flask-Admin==2.0.2
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
luby @ git+https://github.com/luby404/luby-cli-flask.git@d80d9cdb554b7a338b3871c123a5a0e053767fd1
Mako==1.3.10
MarkupSafe==3.0.3
peewee==3.18.3
peewee-migrate==1.14.3
pillow==12.0.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==3.1.4
wtf-peewee==3.0.6
WTForms==3.2.1
