.auth {
    flex: 1;
    display: flex;
    
}

.auth .banner {
    background-color: transparent;
    flex: 1;
    display: flex;
    padding: 20px;

    color: var(--text2);

}

.auth .banner .banner_content {
    background-color: var(--secundaria);
    flex: 1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.auth .form {
    width:100%  ;
    max-width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form form {
    width: 90%;
    height: 100%;

    max-height: 300px;

    background-color: var(--primaria);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}


.entry input {
    padding: 12px;
    border: 0;
    background-color: #d2d2d283;
    border-radius: 10px;
}

.text {
    font-size: .8rem;
    text-align: center;
}



a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}