.dashboard {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 1;
}


.content_menu {
    display: flex;
    padding: 10px;
    z-index: 1;

}

.content_menu .menu {
    position: relative;
    z-index: 1;
    background-color: var(--secundaria);
    padding: 10px;
    border-radius: 10px;
}


.menu .iten_menu {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text2);
    border-radius: 10px;
    cursor: pointer;

    text-decoration: none;
    z-index: 1;
    

}
.menu .iten_menu.ative, .menu .iten_menu:hover {
    background-color: var(--fundo);
    color: var(--text);
}

.menu .iten_menu  i {
    font-size: 1.3rem;
}

.menu .iten_menu span {
    font-size: .8rem;
    border-radius: 10px;
    font-weight: bold;
    
    display: none;
    position: absolute;
    left: 68px;
    background-color: var(--secundaria);
    padding: 10px;
    text-wrap: nowrap;

}

.menu .iten_menu:hover > span {
    display: flex;
    color: var(--text2);
}

.menu .iten_menu:last-child {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    z-index: 1;
}

.content_dashboard {
    flex: 1;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    padding-left: 0;
}


/* home */
.content_app_home {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}
.gri_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 70%;

    max-width: 50%;
}
.gri_cards .card {
    height: 120px;
    border-radius: 10px;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px -2px #00000050;
    color: var(--text);

}

.gri_cards .card .column {
    text-align: end;
}

.gri_cards .card i {
    font-size: 3rem;
    position: relative;
    top: -10px;
    color: var(--secundaria);
}
.gri_cards .card span {
    font-size: .9rem;
    opacity: .6;
    font-weight: bold;
}
