.home {
    flex: 1;
}

.home .content_mesas {
    flex: 1;
}

.home .content_mesas .mesa_area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.mesa_area .card_mesa {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 0 10px -1px var(--secundaria);
    display: flex;
    position: relative;

    min-height: 120px;

    cursor: pointer;

    text-decoration: none;
}

.mesa_area .card_mesa img {
    max-width: 45%;
}

.mesa_area .card_mesa .infos_mesa {
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: .7rem;
    padding: 10px;
    
    justify-content: center;
    color: var(--text);
    
}

.mesa_area .card_mesa .mesa_num {
    position: absolute;
    top: -10px;
    left: -10px;


    border-radius: 10px;
    font-size: .7rem;
   

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color:  #FFF;

}



.livre {
    background-color: green;
}
.ocupada {
    background-color: #800000;
}
.manutencao {
    background-color: #c57308;
}



._input {
    padding: 7px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
