{% extends 'dh.index.html' %}
{% block content %}
    <div class="home">

    <div class="column" style="text-align: center;">
        <h2>Dashboard</h2>
        <h3>04 jan 2025</h3>
    </div>

    <div class="gird_views">

        <div class="card">
            <strong>{{ dados.pedidos }}</strong>
            <span>Total de pedidos</span>
        </div>
        <div class="card">
            <strong>{{ dados.concluidos }}</strong>
            <span>Pedidos concluidos</span>
        </div>
        <div class="card">
            <strong>{{ dados.pendentes }}</strong>
            <span>Pedidos pendentes</span>
        </div>
        <div class="card">
            <strong>{{ dados.canceladas }}</strong>
            <span>Pedidos Cancelados</span>
        </div>
        <div class="card">
            <strong>{{ dados.comandas }}</strong>
            <span>Comandas disponives</span>
        </div>
        <div class="card">
            <strong>{{ dados.vendas_dia }}</strong>
            <span>Vendas do dia</span>
        </div>

    </div>

</div>
{% endblock %}