
<div class="content_app_home column">
    <div class="column center">
        <h3>Olá, {{ dados.user_name }}</h3>
        <div class="row2">
            <span>Vendas de Hoje:</span>
            <strong>{{ dados.vendas_do_dia }}</strong>
        </div>
    </div>
    <span></span><span></span>
    <div class="gri_cards">

        <div class="card">
            <i class="ri-time-line"></i>
            <div class="column">
                <strong>{{ dados.pedidos_pendentes }}</strong>
                <span>Pedidos pendentes</span>
            </div>
        </div>
        <div class="card">
            <i class="ri-check-line"></i>   
            <div class="column">
                <strong>{{ dados.pedidos_em_preparacao }}</strong>
                <span>Pedidos Em Preparação</span>
            </div>
        </div>
        <div class="card">
            <i class="ri-restaurant-2-line"></i>
            <div class="column">
                <strong>{{ dados.pedidos_entreges }}</strong>
                <span>Pedidos Entregues</span>
            </div>
        </div>
        <div class="card">
            <i class="ri-check-double-line"></i>
            <div class="column">
                <strong>{{ dados.pedidos_finalizados }}</strong>
                <span>Pedidos finalizados</span>
            </div>
        </div>
        
        

    </div>

</div>