{% extends 'leyout.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pedidos.mesa.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
<title>Dashboard</title>
{% endblock %}

{% block body %}

<div class="dashboard">

    <section class="content_menu">
        <div class="menu column" id="content_menu_btns">

            <a href="{{ url_for('dashboard.index', name='home' ) }}" class="iten_menu">
                <i class="ri-line-chart-line"></i>
                <span>Dashboard</span>
            </a>
            <a href="{{ url_for('dashboard.index', name='pedidos' ) }}" class="iten_menu">
                <i class="ri-restaurant-2-line"></i>
                <span>Pedidos</span>
            </a>
            <a href="{{ url_for('dashboard.index', name='pos' ) }}" class="iten_menu">
                <i class="ri-line-chart-line"></i>
                <span>POS</span>
            </a>
            <a href="{{ url_for('auth.logout') }}" class="iten_menu">
                <i class="ri-logout-box-r-line"></i>
                <span>Terminar Sessão</span>
            </a>

        </div>
    </section>


    <section class="content_dashboard column" id="root">
        {{ dados.view | safe }}
    </section>

</div>



{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/dh.index.js') }}"></script>
{% endblock %}