{% for pedido in dados.pedidos %}
<div class="mesa_card column" onclick="change_overlay()"
    hx-get="{{ url_for('dashboard.index', mesa=pedido.mesa.id, name='view_pedido' ) }}" hx-target="#overlay">
    <span class="num_mesa">{{ pedido.mesa.nome }}</span>

    {% if not pedido.mesa.status %}
    <img src="{{ url_for('static', filename='img/m_close.png') }}" alt="">
    {% else %}
    <img src="{{ url_for('static', filename='img/m_open.png') }}" alt="">
    {% endif %}
</div>
{% endfor %}

{% if dados.status %}
<audio autoplay id="audio">
    <source src="{{ url_for('static', filename='bnb.wav') }}" type="audio/wav">
    audio não suportado...
</audio>
<script>
    console.log("novo pedido")
</script>
{% endif %}

<script>
    /*
    const audio = document.querySelector("#audio")
    const status = "{{ dados.status }}"

    function tocar() {
        audio.play().catch((error) => {
            console.log("Autoplay bloqueado pelo navegador");
            alert("O audio foi bloqueado pelo navegador, clique na tela para desbloquiar")
            document.addEventListener("click", function () {
                audio.play()
                alert("O audio foi desbloqueado")
            }, { once: true })
        });
    }
    if(status == "True") tocar()
    else audio.pause()
    */

</script>