<div class="content_pos">

    <div class="view column">

        <section class="categorias column">
            <div class="content_categorias row2">
                {% if dados.categoria_id %}
                <a href="?categoria=all" class="">Todas</a>
                {% else %}
                <a href="?categoria=all" class="ative">Todas</a>
                {% endif %}

                {% for categoria in dados.categorias %}
                {% if dados.categoria_id == categoria.id %}
                <a href="?categoria={{ categoria.id }}" class="ative">{{ categoria.nome }}</a>
                {% else %}

                <a href="?categoria={{ categoria.id }}">{{ categoria.nome }}</a>
                {% endif %}
                {% endfor %}

            </div>
        </section>


        <section class="grid_produtos_pos">

            <div class="content_produtos">
                {% for produto in dados.produtos %}

                <div class="card_produto center" onclick="change_overlay()"
                    hx-get="{{ url_for('cardapio.pos', id=produto.id ) }}" hx-target="#overlay">
                    <img src="{{ url_for('static', filename='uploads/produtos/{}'.format(produto.capa)) }}" alt="">
                    <span>{{ produto.price}}</span>
                    <strong>{{ produto.nome }}</strong>

                </div>
                {% endfor %}
            </div>
        </section>

    </div>

    <div class="view column" id="carrinho_pos" hx-get="{{ url_for('cardapio.carrinho_pos' ) }}" hx-target="#carrinho_pos" hx-trigger="load">

        carregado...
        

    </div>

</div>

<script>
    document.querySelector("#link_c").addEventListener("click", function (e) {
        const cfn = confirm("Tem a certeza que deseja elimiar?")
        if (!cfn) {
            e.preventDefault()
        }

    })

</script>