{% extends 'leyout.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.index.css') }}">
<title>Cardapio</title>
{% endblock %}

{% block body %}
<header class="row max_width header_app">

    <strong>{{ dados.nome_restaurante }}</strong>


    <div class="btn_carrinho" onclick="change_overlay()"
        hx-get="{{ url_for('cardapio.carrinho', mesa=dados.mesa_id ) }}" hx-target="#overlay">
        <i class="ri-shopping-cart-line"></i>
        <span>{{ dados.carrinho }}</span>
    </div>

</header>
<main class="column">

    <section class="banner max_width">

    </section>

    <section class="categorias max_width column">
        <strong>Categorias</strong>
        <div class="content_categorias row2">
            {% if dados.categoria_id %}
            <a href="?categoria=all" class="">Todas</a>
            {% else %}
            <a href="?categoria=all" class="ative">Todas</a>
            {% endif %}

            {% for categoria in dados.categorias %}
            {% if dados.categoria_id == categoria.id %}
            <a href="?categoria={{ categoria.id }}" class="ative">{{ categoria.nome }}</a>
            {% else %}

            <a href="?categoria={{ categoria.id }}">{{ categoria.nome }}</a>
            {% endif %}
            {% endfor %}

        </div>
    </section>

    <section class="produtos max_width column" id="produtos_content">

        <div class="content_produtos">
            {% for produto in dados.produtos %}

            <div class="card_produto">
                <img src="{{ url_for('static', filename='uploads/produtos/{}'.format(produto.capa)) }}" alt="">
                <strong>{{ produto.nome }}</strong>
                {% if produto.estoque < 1 %}
                    <div href="" class="button" onclick="alert_not_produto()">
                    <i class="ri-shopping-cart-line"></i>
                    <strong>{{ produto.price}}</strong>
                </div>
                {% else %}
                <div href="" class="button" onclick="change_overlay()"
                    hx-get="{{ url_for('cardapio.produto', id=produto.id, mesa=dados.mesa_id ) }}" hx-target="#overlay">
                    <i class="ri-shopping-cart-line"></i>
                    <strong>{{ produto.price}}</strong>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </section>





</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/cardapio.js') }}"></script>
{% endblock %}