{% extends 'leyout.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.index.css') }}">
{% endblock %}

{% block body %}
<header class="row max_width header_app">

    <strong>Nome do Restaurante</strong>


    <div class="btn_carrinho">
        <i class="ri-shopping-cart-line"></i>
        <span>0</span>
    </div>

</header>
<main class="column">

    <section class="banner max_width">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </section>

    <section class="categorias max_width column">
        <strong>Categorias</strong>
        <div class="content_categorias row2">
            <a href="" class="ative">Todas</a>
            <a href="">Bebidas</a>
            <a href="">Lanches</a>
            <a href="">Petiscos</a>
        </div>
    </section>

    <section class="produtos max_width column" id="produtos_content">

        <div class="content_produtos">
            {% for produto in range(8) %}
            <div class="card_produto">
                <img src="{{ url_for('static', filename='img/produto.jpeg') }}" alt="">
                <strong>Nome do produto</strong>
                <a href="" class="button">
                    <i class="ri-shopping-cart-line"></i>
                    <strong>2.500,00</strong>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>

    <section class="overylay">

        <div class="content_carrinho column">

            <div class="car_btn_close">
                <i class="ri-close-line"></i>
            </div>

            <div class="row center">
                <strong>Meu Pedido</strong>
            </div>
            <div class="lista_produtos">

                {% for produto in range(3) %}
                <div class="iten_produtos row">
                    <div class="row2">
                        <img src="{{ url_for('static', filename='img/produto.jpeg') }}" alt="">
                        <div class="infos column">
                            <div class="row">
                                <strong>Nome do produto (x2)</strong>
                            </div>
                            <span>2.500,00</span>
                        </div>
                    </div>
                    <div class="button">
                        <i class="ri-delete-bin-line"></i>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="row">
                <div class="row2">
                    <strong>Total:</strong>
                    <strong>8,450,00</strong>
                </div>
                <div class="button">
                    <span>Enviar Pedido</span>
                    <i class="ri-send-plane-line"></i>
                </div>
            </div>
        </div>

        <div class="content_produto_modal column">

            <div class="car_btn_close">
                <i class="ri-close-line"></i>
            </div>

            <div class="infos column center">
                <img src="{{ url_for('static', filename='img/produto.jpeg') }}" alt="">
                <strong class="center">Nome do produto</strong>
                <p style="text-align: center; font-size: .8rem; opacity: .7;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eos pariatur? Nisi quo voluptate
                    delectus!
                </p>

            </div>
            <div class="qtd center">
                <div class="btn">
                    <i class="ri-subtract-fill"></i>
                </div>
                <span class="value">1</span>
                <div class="btn">
                    <i class="ri-add-fill"></i>
                </div>
            </div>

            <div class="row">
                <strong>2.500,00</strong>
                <div class="button">
                    <span>Adicionar</span>
                    <i class="ri-shopping-cart-line"></i>
                </div>
            </div>

        </div>

    </section>

</main>

{% endblock %}