<form class="content_produto_modal column"
    action="{{ url_for('cardapio.carrinho' ) }}"
    method="post"
>

    <div class="car_btn_close" onclick="change_overlay()">
        <i class="ri-close-line"></i>
    </div>

    <div class="infos column center">
        <img src="{{ url_for('static', filename='img/produto.jpeg') }}" alt="">
        <strong class="center">Nome do produto</strong>
        <p style="text-align: center; font-size: .8rem; opacity: .7;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eos pariatur? Nisi quo voluptate
            delectus!
        </p>

    </div>
    <div class="qtd center">
        <div class="btn" onclick="sub()">
            <i class="ri-subtract-fill"></i>
        </div>
        <input type="number" name="qtd" value="1" id="value">
        <div class="btn" onclick="add()">
            <i class="ri-add-fill"></i>
        </div>
    </div>

    <div class="row">
        <strong>2.500,00</strong>
        <button class="button">
            <span>Adicionar</span>
            <i class="ri-shopping-cart-line"></i>
        </button>
    </div>

</form>


<script>

    var input = document.querySelector("input#value")

    function add(){
        input.value = parseInt(input.value) + 1
    }
    function sub(){
        input.value = parseInt(input.value) - 1
        if (input.value < 0) input.value = 0
    }

</script>