{% extends 'leyout.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lp.index.css') }}">
{% endblock %}

{% block body %}
<header class="row max_width header_app">

    <a href="" class="logo">
        Logo
    </a>

    <div class="menu_content">
        <div class="menu row2">
            <a href="#home" class="iten_menu">Home</a>
            <a href="#home" class="iten_menu">Sobre</a>
            <a href="#home" class="iten_menu">Faq</a>
            <a href="#home" class="iten_menu">Contactos</a>
        </div>
    </div>
    <a href="" class="button">
        <span>Entrar</span>
    </a>

</header>
<main>

    <section class="home" id="home">

        <div class="infos max_width column">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis excepturi quibusdam eius odio quod
                minima quam debitis?</h2>
            <div class="text_animation_box">
                <div class="content_text column">
                    <p>Preça uma porposta comercial hoje mesm.</p>
                    <p>Controle seus pedidos, produtos, estoque em um unico local.</p>
                    <p>Mais de 3 mil clientes.</p>
                </div>
            </div>

            <div class="row2">
                <a href="" class="button">
                    <span>Pedir proposta comercial</span>
                </a>

            </div>
        </div>

    </section>

    <section class="sobre" id="sobre">

        <div class="sobre_content max_width column">
            <h2>Sobre</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, fuga quibusdam. Repellendus ea velit
                molestiae laborum facilis ab, odio id reiciendis doloremque quia illo nostrum, quidem porro! Pariatur,
                cum nam? Reprehenderit hic commodi sint, quae maiores blanditiis nisi delectus sunt corrupti natus
                quisquam pariatur quod nam possimus alias dicta voluptas. <br>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum perspiciatis molestias repellat!
                Molestias alias sunt ab laboriosam repellendus maiores asperiores in repellat incidunt. Asperiores
                laudantium doloribus doloremque veniam unde minima.
            </p>
        </div>

    </section>




</main>

{% endblock %}